.text-right{
  text-align: right
}
.affix{
  background:#fff;
  position: relative;
  min-height: 90px;
  padding-top: 8px
}
.gap-m{
  margin-top: 16px;
}
.ant-affix{
  background:#fff;
  margin-left: -20px;
  margin-right: -20px;
}
.fixed-box{
  position: absolute;
  right: 0;
  top:8px;
  width: 200px;
  text-align: right;
}