.profile {
  display: flex;
  padding: 0 12px;
  align-items: center;
}

.profile:hover {
  background: #e6f7ff;
  cursor: pointer;
}
.profileImage {
  vertical-align: middle;
}
.profileItem {
  padding: 2;
  width: 150px;
}
.profileItem:hover {
  background-color: #e6f7ff;
}
.profileItemLink {
  width: 100%;
  font-size: 14px;
  text-align: left;
  color: #595959;
}
.profileIcon {
  padding: 2px 5px;
}
.username {
  padding: 5px;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} 
